<div class="row mt-5">
  <div class="col-6 m-auto col-md-8 col-sm-12">
    <form>
      <div class="form-group">
        <label for="email">E-mail *</label>
        <input type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="username">Username *</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Sign Up</button>
      </div>
      <div class="form-group">
        <a href="#" class="text-muted text-center">Already have an account</a>
      </div>
    </form>
  </div>
</div>
